/* Common styles for both web and mobile */
#navbar {
    background: url("https://admin.demo.se7enx.com/design/admin/images/3/dark_back.png");
    overflow: hidden;
}
 
.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    float: left;
    padding: 14px 14px 5px 0px;
}

.navbar-menu li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Active state styling */
.navbar-menu li a.selected {
    background-color: #ee800bb5; /* Darker background color for active item */
    color: #fff; /* Ensure text color is readable */
    font-weight: bold; /* Optional: Make the active item bold */
    text-decoration: underline;
}

/* Web-specific styles */
@media screen and (min-width: 1120px) {
    .navbar-menu li:nth-child(1) {
        float: left;
        padding-left:-27px;
    }
    .navbar-icon {
        display: none; /* Hide the icon on the web */
    }
    .navbar-menu {
        display: flex;
        justify-content: space-around;
    }
}

/* Mobile-specific styles */
@media screen and (max-width: 1119px) {
    #columns {
        margin-top: 11px;
    }
    .navbar-menu li {
        float: left;
        padding: 8px 8px 0px 0px;
    }
    .navbar-icon {
        display: block;
        float:right;
        font-size: 45px;
        cursor: pointer;
        color: white;
        padding: 1px 12px;
        margin-top: -10px;
    }

    .navbar-menu {
        display: none; /* Initially hide the menu */
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        text-align: left;
    }

    li {
        margin: 0px 0 0 0 !important;
        /* padding: 0; */
        /* line-height: 1.25em; */
    }

    #searchtext{
        width:109px !important;
    }

}

#header-search{
    padding-top: 9px;
}